@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: normal;
  src: local('Calibre Regular'), url('http://andrewwitherspoon.com/fonts/CalibreRegular.woff') format('woff');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: local('Calibre Semibold'), url('http://andrewwitherspoon.com/fonts/CalibreSemibold.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
  font-style: normal;
  font-weight: normal;
  src: local('Tiempos Regular'), url('http://andrewwitherspoon.com/fonts/TiemposHeadline-Regular.woff') format('woff');
}

body {
  color: #333;
  font-family: Calibre, helvetica neue, helvetica, sans;
  -webkit-font-smoothing: antialiased;
  max-width: 900px;
  margin: 0 auto;
}

.top-container {
  background: white;
  position: fixed;
  max-width: 900px;
  height: 45px;
  width: 100%;
  z-index: 2;
}

.legend {
  position: absolute;
  top: 0;
  right: 0;
}

.swatch {
  background: linear-gradient(90deg, rgba(63,180,255,1) 0%, rgba(230,231,232,1) 50%, rgba(255,148,47,1) 100%);
  display: inline-block;
  height: 8px;
  position: relative;
  width: 70px;
}

.swatch:after {
  content: "";
  background: #ccc;
  display: block;
  position: absolute;
  width: 1px;
  height: 5px;
  top: 8px;
  right: 0;
}

.swatch:before {
  content: "";
  background: #ccc;
  display: block;
  position: absolute;
  width: 1px;
  height: 5px;
  top: 8px;
  left: 0;
}

.swatch span {
  color: #898989;
  font-size: 12px;
  position: absolute;
  top: 16px;
}

.swatch span.left {
  left: -3px;
}

.swatch span.right {
  right: -5px;
}

.legend p {
  color: #898989;
  display: inline-block;
  font-size: 13px;
}

h1 {
  font-family: Tiempos, georgia, serif;
  font-size: 32px;
  position: relative;
  top: 1px;
}

table {
  font-size: 14px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 45px;
  width: 100%;
}

th {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
  font-size: 15px;
  font-weight: 500;
  display: inline-table;
  height: 40px;
  position: fixed;
  max-width: 900px;
  width: 100%;
  z-index: 1;
}

th:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  height: 120%;
  width: 10px;
  top: 0;
  left: -10px;
}

th:before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  height: 120%;
  width: 10px;
  top: 0;
  right: -10px;
}

tbody {
  display: table;
  position: relative;
  top: 40px;
  width: 100%;
}

tr {
  border-top: 0.5px solid rgba(0,0,0,0.1);
  vertical-align: middle;
  height: 36px;
  line-height: 1.25;
}

td {
  font-size: 16px;
  padding: 3px;
  vertical-align: middle;
}

td.rank {
  padding-top: 5px;
  font-size: 12px;
  text-align: right;
  width: 20px;
}

td.logo {
  text-align: center;
  width: 30px;
}

td.logo img {
  position: relative;
  top: 3px;
}

td.park {
  line-height: 1;
  padding-top: 7px;
  width: calc(40% - 50px);
}

.name-park {
  color: #898989;
  font-size: 13px;
}

td.top,
td.avg,
td.get {
  padding-top: 7px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
  text-align: center;
  width: 15%;
}

td.avg {
  border-left: 0.5px solid rgba(0,0,0,0.1);
  border-right: 0.5px solid rgba(0,0,0,0.1);
}

td.total {
  font-weight: 500;
  padding-top: 6px;
  padding-right: 10px;
  text-align: right;
  width: 15%;
}

/**************************
Table storing styles
**************************/
th td {
  font-weight: 500!important;
  cursor: pointer;
  border: none!important;
  padding-top: 15px;
}

th td:after {
  font-size: 7px;
  left: 3px;
  position: relative;
  top: -0.5px;
  width: 0;
  display: inline-block;
}

th td:not(.is-desc):hover:after {
  content: "▼";
  color: #898989;
}

th td.is-asc:hover:after {
  content: "▲";
  color: #333;
}

th td.is-asc:after {
  content: "▲";
}

th td.is-desc:after {
  content: "▼";
}

th td.rank {
  font-size: 14px;
}

th td.logo,
th td.park {
  pointer-events: none;
}

@media (max-width: 600px) {
  .top-container {
    height: auto;
  }
  h1 {
    font-size: 24px;
  }
  table {
    font-size: 12px;
    top: 18px;
  }
  th {
    height: 40px;
  }
  .name-park {
    display: none;
  }
  th td {
    padding-top: 20px!important;
    font-size: 12px!important;
  }
  th td:after {
    font-size: 6px;
  }
  tbody {
    top: 40px;
  }
}

@media (max-width: 500px) {
  .legend {
    display: none;
  }
  th td {
    padding-top: 20px;
  }
  td.logo {
    padding-right: 10px;
    width: 35px;
  }
  td.park {
    display: none!important;
  }
  td.rank {
    width: 15px;
  }
  td.top,
  td.avg,
  td.get,
  td.toal {
    width: 24%;
  }
}
