@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: normal;
  src: local('Calibre Regular'), url('http://andrewwitherspoon.com/fonts/CalibreRegular.woff') format('woff');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: local('Calibre Semibold'), url('http://andrewwitherspoon.com/fonts/CalibreSemibold.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos';
  font-style: normal;
  font-weight: normal;
  src: local('Tiempos Regular'), url('http://andrewwitherspoon.com/fonts/TiemposHeadline-Regular.woff') format('woff');
}

body {
  color: #333333;
  font-family: Calibre, helvetica neue, helvetica, sans;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 786px;
}

a {
  color: #333;
}

/********************************************
Top
********************************************/
.background-top {
  background: #181818;
  padding: 60px 0;
  margin-bottom: 20px;
  width: 100%;
}

.top {
  color: rgba(255,255,255,0.95);
}

.top a {
  color: rgba(255,255,255,0.95);
}

h1 {
  font-family: Tiempos, times, serif;
  font-size: 54px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.top p {
  font-size: 24px;
  line-height: 1.5;
}


/********************************************
Project
********************************************/
.background-project {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding: 80px 0;
}

.background-project:last-of-type {
  border-bottom: none;
}

.intro {
  background: rgba(0,0,0,0.04);
  border-radius: 3px;
  padding: 20px;
  margin-top: 40px;
}

.intro p {
  display: inline-block;
  line-height: 1.25;
  width: calc(100% - 124px);
}

.intro a {
  display: inline-block;
  text-align: right;
  opacity: 0.7;
  transition: all 0.15s ease-in-out;
  vertical-align: top;
  width: 120px;
}

.intro img {
  margin-left: 5px;
}

.intro a:hover {
  opacity: 1;
}

iframe {
  width: 100%;
}

.background-old {
  background: rgba(0,0,0,0.04);
  padding: 80px 0;
}

h2 {
  font-family: Tiempos, times, serif;
  font-size: 40px;
  line-height: 1.25;
}

@media(max-width: 600px) {
  .container {
    margin: 0 20px;
  }
  .intro {
    margin-top: 20px;
  }
  .background-top {
    padding: 40px 0;
  }
  .background-project {
    padding: 40px 0;
  }
  h1 {
    font-size: 40px;
  }
  .top p {
    font-size: 20px;
  }
  .intro p {
    display: block;
    width: auto;
  }
  .intro a {
    margin-top: 8px;
    display: block;
    width: auto;
  }
  #astros {
    height: 320px;
  }
  #combine {
    height: 446px;
  }
  #trout {
    height: 950px;
  }
  #core {
    height: 474px;
  }
  #social {
    height: 487px;
  }
  #mj {
    height: 490px;
  }
}
